@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


@media only screen and (max-width: 768px) {
    nav {
    position: sticky;
    display: flex;
    padding-inline: 1.4rem;
    justify-content: space-between;
    color: black;
    align-items: center;
    height: 4.2rem;
    }

    nav ul { display: none;}

    #logo {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    #small-shoes { display: none;}

    #big-shoe {
        position: relative;
        width: max-content;
        overflow: hidden;
    }

    .left {
        height: 45px;
        position: absolute;
        margin-left: 1rem;
        width: 45px;
        background-color: hsl(223, 64%, 98%);
        border-radius: 50%;
        display: inline-block;
        margin-top: 11rem;
    }

    .right {
        height: 45px;
        position: absolute;
        right: 0;
        margin-right: 20px;
        width: 45px;
        background-color: hsl(223, 64%, 98%);
        border-radius: 50%;
        margin-top: 11rem;
        display: inline-block;
    }

    #left-arrow {
        margin-left: 1rem;
        margin-top: 0.7rem;
    }

    #right-arrow {
        margin-left: 1rem;
        margin-top: 0.7rem;
    }

    .box2 {
        margin-top: 1.2rem;
        display: flex;
        flex-direction: column;
       margin-left: 2.4rem;
        gap: 30px;
    }

    h1 {
        color: hsl(26, 100%, 55%);
        font-family: 'Kumbh Sans', sans-serif;
        font-weight: 700;
        font-size: 14px;
    }

    h2 {
        color: hsl(220, 13%, 13%);
        font-family: 'Kumbh Sans', sans-serif;
        font-size: 32px;
        width: 80%;
        font-weight: 700;
    }

    p {
        font-family: 'Kumbh Sans', sans-serif;
        color:  hsl(219, 9%, 45%);
        width: 90%;  
    }

    #price-box {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    #price-current {
        font-size: 22px;
        color: hsl(220, 13%, 13%);
        font-weight: 700;
        font-family: 'Kumbh Sans', sans-serif;
    }

    #percent-discount {
        color: hsl(26, 100%, 55%);
        background-color: hsl(25, 100%, 94%);
        font-weight: 700;
        padding-inline: 0.2rem;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        border-radius: 8px;
    }

    #last-price {
        font-weight: 700;
        color: hsl(220, 14%, 75%);
        text-decoration: line-through;
        font-family: 'Kumbh Sans', sans-serif;
    }

    #button-control {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }

    #product-add {
        display: flex;
        justify-content: space-between;
        padding-inline: 0.8rem;
        width: 300px;
        height: 60px;
        align-items: center;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        border-radius: 4px;
        background-color: hsl(223, 64%, 98%);
    }

    .button {
        width: 300px;
        height: 60px;
        font-family: 'Kumbh Sans', sans-serif;
        color:  hsl(223, 64%, 98%);
        background-color: hsl(26, 100%, 55%);
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        border-radius: 4px;
        font-weight: 400;
        border: none;
        text-align: center;
    }

}

@media only screen and (min-width: 768px) {

nav {
    display: flex;
    justify-content: space-between;
    color: black;
    padding-inline: 6rem;
    padding-top: 1.2rem;
    align-items: center;
}

#hamburger {
    display: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 2.5rem;
    cursor: pointer;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
}

.nav-list a {
    text-decoration: none;
    color: hsl(219, 9%, 45%);

}

.nav-list a:hover {
    color: hsl(220, 13%, 13%);
}

#logo {
    display: flex;
    align-items: center;
    gap: 40px;
}

#liner {
    margin-top: 1.6rem;
}

.boxes {
    display: flex;
    margin-top: 6.8rem;
    justify-content: center;
    gap: 6rem;

}

.box1 {
   display: flex;
   flex-direction: column;
}

.box2 {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 40%;
}

#big-shoe {
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px;
    overflow: hidden;
}

#small-shoes {
    display: flex;
    margin-top: 2rem;
    gap: 30px;
}

.tiny-box {
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px;
    overflow: hidden;
}

h1 {
    color: hsl(26, 100%, 55%);
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

h2 {
    color: hsl(220, 13%, 13%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 32px;
    width: 50%;
    font-weight: 700;
}

p {
    font-family: 'Kumbh Sans', sans-serif;
    color:  hsl(219, 9%, 45%);
    width: 50%;  
}

#price-box {
    display: flex;
    gap: 20px;
    align-items: center;
}

#price-current {
    font-size: 22px;
    color: hsl(220, 13%, 13%);
    font-weight: 700;
    font-family: 'Kumbh Sans', sans-serif;
}

#percent-discount {
    color: hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%);
    font-weight: 700;
    padding-inline: 0.2rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-radius: 8px;
}

#last-price {
    font-weight: 700;
    color: hsl(220, 14%, 75%);
    text-decoration: line-through;
    font-family: 'Kumbh Sans', sans-serif;
}

#button-control {
    display: flex;
    gap: 1.2rem;
}

#product-add {
    display: flex;
    justify-content: space-between;
    padding-inline: 0.4rem;
    width: 100px;
    height: auto;
    align-items: center;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border-radius: 4px;
    background-color: hsl(223, 64%, 98%);
}

.button {
    width: 180px;
    height: 40px;
    font-family: 'Kumbh Sans', sans-serif;
    color:  hsl(223, 64%, 98%);
    background-color: hsl(26, 100%, 55%);
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    text-align: center;
    border-radius: 4px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    text-align: center;
}
.left{display: none;}
.right{display: none;}


.cart-div {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.cart-counter {
    background-color: hsl(26, 100%, 55%);
    position: absolute;
    text-align: center;
    border-radius: 12px;
    color: white;
    width: 25px;
    margin-left: 10px;
}

#avatar {
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
}

#avatar:hover {
    border: 2px solid hsl(26, 100%, 55%);
}

.active {
    width: 40px;
    height: 2px;
    background-color:  hsl(26, 100%, 55%);
    margin-top: 2.3rem;
    margin-left: 15px;
    transition-delay: 5s;
}

.checkout-page {
    width: 400px;
    position: absolute;
    padding-inline: 1rem;
    margin-top: -25px;
    right: 65px;
    box-shadow: 5px 10px hsl(220, 14%, 75%);
    height: 230px;
    justify-content: space-between;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
}

.checkout-page p {
    color: hsl(220, 13%, 13%);
    width: 100%;
    margin-top: 0.5rem;
}

.cart-control {
    display: flex;
    justify-content: space-between;
}

.cart-text {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.cart-text p {
    color: hsl(219, 9%, 45%);
    font-family: 'Kumbh Sans', sans-serif;
}

.cart-icon {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px;
    overflow: hidden;
}

.cart-spans {
    display: flex;
}

.cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.empty-header {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: hsl(219, 9%, 45%);
    margin-bottom: 20px;
}

}